[Unit]
Description=Gunicorn instance to serve srassassins
After=network.target

[Service]
User=srassassins25
Group=www-data
WorkingDirectory=/home/srassassins25/srassassins
Environment="PATH=/home/srassassins25/srassassins/venv/bin"
ExecStart=/home/srassassins25/srassassins/venv/bin/gunicorn --workers 3 --bind unix:srassassins.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target