[Unit]
Description=Gunicorn instance to serve Crimsassions Flask application
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/srassassins
Environment="PATH=/var/www/srassassins/venv/bin"
EnvironmentFile=/var/www/srassassins/.env
ExecStart=/var/www/srassassins/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 --log-level debug "run:app"

[Install]
WantedBy=multi-user.target