[Unit]
Description=Python Application Service
After=network.target

[Service]
User=username
WorkingDirectory=/home/username/srassassins
ExecStart=/bin/bash -c 'source /home/username/srassassins/venv/bin/activate && python /home/username/>
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
