{% extends 'base.html' %}

{% block title %}{{ game_state.game_name }} - Rules{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-4">Rules</h1>
            
            <div class="card">
                <div class="card-body">
                    {% include 'rule_list.html' %}
                </div>
            </div>
            
            <div class="text-center mt-4">
                <a href="{{ url_for('main.index') }}" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
